@charset "UTF-8";
body {margin: 0;position: relative;}
.headerbox {width: 930px;height: 100px;background-color: #dfb4ff;margin: 0 auto; position:relative;}

#mainlogo {position: relative;width: 200px;height: 100px;margin-left: 30px; cursor:pointer;}
#mainname{position:relative;font-weight: bold;font-size:20px;color: white; width:90px; left:90px; top:-30px;}
#mainlogo img {width: 80px;height: 80px; margin-top: 9px; float:left; position: relative;}
.headbuttons {position: absolute; width: 210px;top: 23px;right:30px;}
.headbuttons2 {position: absolute; width: 510px;top: 23px;right:30px; height:80px;}
#welcome{width:200px; height:60px;}
.headbutton {width: 100px;height: 50px;border-radius: 60px;text-decoration: none;font-weight: bold;font-size: 120%;
background-color: #fff;line-height: 45px;color: #fff;background-color: transparent;
border: 4px solid white;}
.headbutton:hover {background-color: white;color: #dfb4ff;cursor: pointer;}
.menubar {width: 930px;height: 50px;background-color: #ca9bee;margin:0 auto !important; }
.menubar ul {list-style-type: none;float: left;}
.menubar ul li {display: inline;margin-right: 40px;position: relative;cursor: pointer;font-weight: bold;
text-align: center;text-decoration: none;color: white;}
.menubar ul li:hover {color: rgb(119, 15, 167);}
.footerbox {position: relative;height: 90px;width:930px;background-color: #dfb4ff; margin:0 auto;}
.footerbox #copyright {position: absolute;top: 30px; right:50px;text-align: center;font-size: 17px;opacity: 80%;color: white;
  font-family: Verdana;}
.footerbox  #logo{ position:absolute; width:50px; height: 50px;  right: 15px; opacity: 70%; top:18px}

.msgbox { height: 40px;width: 100%;position: relative;border: 1px solid;}
.msgcontent { position: absolute;border: 1px solid salmon;height: 40px;width: 50%;margin-left: 90px;}
.msgdate {position: absolute;height: 40px;width: 80px;border: 1px solid #ca9bee;margin-left: 550px;text-align: center;}

