@charset "UTF-8";
body {margin: 0;position: relative;}
.headback {width: 100%;height: 100px;background-color: #dfb4ff;margin: 0;}
a {text-decoration: none;font-weight: bold;font-size: 20px;color: white;}
#mainlogo {position: relative;width: 200px;height: 100px;margin-left: 70px;}
#mainlogo img {width: 80px;height: 80px; margin-top: 9px;}
.headbuttons {position: absolute; width: 320px;top: 23px;right:70px;}
.headbutton {width: 150px;height: 50px;border-radius: 60px;text-decoration: none;font-weight: bold;font-size: 100%;
background-color: #fff;line-height: 45px;color: #fff;background-color: transparent;
border: 4px solid white;}
.headbutton:hover {background-color: white;color: #dfb4ff;cursor: pointer;}
